.tnail{
    color: darkgray;
    transition: 0.5s;
}
.tnail:hover{
    color: #dddddd;
}
.content{
    min-height: 300px;
}
.bannerImage{
    padding-bottom: 300px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url("../media/bg5.jpeg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.bannerImageTwo{
    padding-bottom: 300px;
    text-align: center;
    color: #f8f8f8;
    background: url("../media/bg6.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background-color: #dddddd;
    color:#000000;
    font-size:16px;
    padding-top: 20px;
    padding-bottom: 10px;
}
